{% extends 'base.html' %}

{% block main %}
    <div class="col-sm">

    </div>
    <div class="col-sm">Seja bem vindo {{ usuario.funcionario.nome }}
    <a href="{% url 'list_funcionarios'  %}"type="">Gerenciar Funcionários</a>
    <a href="{% url 'list_departamentos'  %}"type="">Gerenciar Departamentos</a>
    <a href="{% url 'list_hora_extra'  %}"type="">Gerenciar Banco de Horas</a>
    </div>
    <div class="col-sm">
        <a href="{% url 'logout' %}">Logout</a>
    </div>
    <div class="col-sm">
        {% if usuario.funcionario.empresa %}
            <a href="{% url 'edit_empresa' usuario.funcionario.empresa.id %}">Editar Empresa</a>
        {% else %}
            <a href="{% url 'create_empresa' %}">Criar Empresa</a>
        {% endif %}
    </div>

{% endblock %}